<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>

  <!-- CSS -->
  <link rel="stylesheet" href="style.css">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>

  <main class="grid-container">
    <header class="item1">
      <h1>Welcome to the <span class="highlight">Weather</span> Web App</h1>
      <p>Let's check the weather of your city</p>
    </header>
    <div id="inputDiv" class="item2">
      <form action="/" method="post">
        <label for="cityInput">City Name: </label>
        <div class="search-box">
          <input id="cityInput" type="text" name="cityName" 
          placeholder="Enter City" autocomplete="off">
          <button type="submit">Search</button>
        </div>
        <p class="error"><%= error%></p>
      </form>
    </div>
    <div id="resultDiv" class="item3">
      <h1>The Weather is currently <%= description %></h1>
      <p>The temperature in <%= name %> is <%= temperature %> degrees Celcius</p>
      <img src="<%= image %>" />
    </div>
  </main>
</body>
</html>