<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Web App</title>

  <!-- CSS -->
  <link rel="stylesheet" href="style.css">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>

  <main>

    <header>
      <h1>Welcome to the <span class="highlight">Weather</span> Web App</h1>
      <p>Let's check the weather of your city</p>
    </header>

    <div id="input-output">
      
      <form id="input" action="/" method="post">
        <label for="cityName" id="cityNameLabel">City Name : </label>

        <div class="search-box">
          <input id="cityName" type="text" name="cityName" 
          placeholder="Enter a valid City" autocomplete="off">
          <button id="search" type="submit">Search</button>
        </div>

        <p class="error"><%= error%></p>
      </form>
  
      <div id="output">
        <h1>The Weather is currently <span class="highlight"><%= description %></span></h1>
        <p>The temperature in <span class="highlight"><%= name %></span> is <span class="highlight"><%= temperature %></span> degrees Celcius</p>
        <img src="<%= image %>" />
      </div>
    </div>

  </main>
</body>
</html>